@use './variables';

@mixin container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  @media (min-width: 1024px) {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@mixin container_inner {
  padding-left: 10px;
  padding-right: 10px;
}
@mixin card {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: variables.$radius;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 100%;
}
